@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Bold.otf");
}

.modal__content_type_image {
  max-width: 498px;
  padding: 0;
  height: 610px;
}

.modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer {
  padding: 0 0 32px 32px;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 12px;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__close_type_preview {
  background: url("../../assets/close-white.svg");
}
