@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.otf");
}

.card {
  position: relative;
  max-width: 325px;
  height: 328px;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.card__heading-container {
  position: absolute;
  top: 12px;
  display: flex;
  gap: 10px;
}

.card__title {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* position: absolute;
  top: 12px; */
  padding: 2px 12px;
  margin: 0;
  border-radius: 4px;
}

.card__like-btn {
  width: 26px;
  height: 24px;
  background: transparent url("../../assets/like.svg") center no-repeat;
  object-fit: contain;
  border: none;
  padding: 0;
}

.card__like-btn_liked {
  background: url("../../assets/liked-state.svg") center no-repeat;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card__img:hover {
  cursor: pointer;
}
