@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.otf");
}

.cards {
  margin-bottom: 171px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 0 0 34px 0;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  padding: 0;
  margin: 0;
}
