@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../assets/CabinetGrotesk-Regular.otf");
}

/* .cards {
  margin-bottom: 171px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 0 0 34px 0;
}

.cards__container {
  padding: 0;
  margin: 0;
} */

.card {
  position: relative;
  max-width: 325px;
  height: 328px;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.card__title {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 12px;
  padding: 2px 12px;
  margin: 0;
  border-radius: 4px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
